# Ignore source release files
model/dist/*
model/fooof.egg-info/*
model/build/*

# Ignore notebook checkpoints
model/*.ipynb_checkpoints*

# Ignore cache
model/*__pycache__/*
model/*.cache*

# Ignore compiled files
model/*.pyc

# Ignore Mac folder profile files
model/*DS_Store*

# Ignore coverage file
model/.coverage

# Ignore testing related files
model/.pytest_cache/*

# Ignore temp file for linter output
model/_lint.txt

# Ignore all files generated during testing
model/*/tests/test_files/*

# Ignore any data files or files generated in the documentation
model/tutorials/**/*.pdf
model/tutorials/**/*.json
model/tutorials/**/data/*
model/examples/**/*.pdf
model/examples/**/*.json
model/examples/**/data/*
model/motivations/**/*.pdf
model/motivations/**/*.json
model/motivations/**/data/*

# Ignore documentation files
model/doc/_build/*
model/doc/auto_examples/*
model/doc/auto_tutorials/*
model/doc/auto_motivations/*
model/doc/generated/*
